.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(247, 2, 96) !important;
    border: rgb(247, 2, 96) !important;
}

.accueil {
    color: rgb(75, 211, 221) !important;
    font-weight: bold;
}

