<h1>Nouvel article</h1>

<form>
    <mat-form-field>
        <input type="text" [(ngModel)]="ref" name="ref" matInput placeholder="Référence">
    </mat-form-field>

    <mat-form-field>
        <input type="text" [(ngModel)]="name" name="name" matInput placeholder="Nom">
    </mat-form-field>

    <mat-form-field>
        <textarea name="description" id="" cols="30" rows="10" [(ngModel)]="description" name="description" matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input type="number" [(ngModel)]="price" name="price" matInput placeholder="Prix">
    </mat-form-field>

    <label for="visuel">Visuel</label>
    <input type="file" #file (change)="fichier = file.files">

    <label for="brand">Marque</label>
    <select [(ngModel)]="brandId" name="brandId">
      <option *ngFor="let item of listebrand; index as clef" value="{{item.id}}" >{{item.name}}</option>
    </select>

    <label for="category">Catégorie</label>
    <select [(ngModel)]="catId" name="catId">
      <option *ngFor="let item of listecat; index as clef" value="{{item.id}}" >{{item.name}}</option>
    </select>

    <label for="style">Style</label>
    <select>
        <option>Ethnique</option>
        <option>Industriel</option>
        <option>Vintage</option>
        <option>Scandinave</option>
        <option>Design</option>
        <option>Classique</option>
        <option>Art Déco</option>
    </select>
    <label for="couleur">Couleur</label>
    <select id="colorselector">
            <option value="rouge">rouge</option>
            <option value="47" data-color="#CD5C5C" selected="selected">indianred</option>
            <option value="87" data-color="#FF4500">orangered</option>
            ...
            <option value="15" data-color="#DC143C">crimson</option>
            <option value="24" data-color="#FF8C00">darkorange</option>
            <option value="78" data-color="#C71585">mediumvioletred</option>
        </select>


    <button (click)="addProduct()">Ajouter</button>
</form>

<ul>
    <li *ngFor="let product of listeprod">
        {{product.name}}
        <img [src]="product.link">


    </li>
</ul>