<app-auth>
</app-auth>
<nav>
    <ul>
        <li><a routerLink="/newbrand" routerLinkActive="active">New brand</a></li>
        <li><a routerLink="/newuser" routerLinkActive="active">New user</a></li>
        <li><a routerLink="/newproduct" routerLinkActive="active">New product</a></li>
        <li><a routerLink="/newcategory" routerLinkActive="active">New category</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products list</a></li>

    </ul>
</nav>

<router-outlet></router-outlet>