p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

.mat-raised-button {
    margin-top: 20px;
    margin-bottom: 20px;
}