p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

.mat-raised-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 2em;
}

.recherche-bloc {
    margin-top: 50px;
}